*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    height: 11vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 2px 2px 10px rgb(224, 221, 221);
    
}
.navbar{
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;

}


.logo{
    height: 70%;
    width: 15%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 100px;
    min-height: 30px;

}

.menu{
    width: 50%;
    overflow: hidden;
    min-width: 400px;
    min-height: 50px;
}
.bar{
    display: none;
    position: relative;
    top: 16px;
    font-size: 30px;
}
@media (max-width:768px){

    ul{
        display: none;
    }
    
    .bar{
        display: block;
        position: absolute;
        right: 80px;
    }
    
}
 
b{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: sans-serif;
    align-items: center;
    list-style: none;


}
.klassycafe{
    margin-top: 11vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
img{
    height: 100%;
    width: 100%;
}

.cafe{
    background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/top-left-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 35%;
}
.image{
    height: 45rem;
    width: 65%;
   
}

li:hover{
    color: #fb5849;
    cursor: pointer;
}
.innercafe{
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50% , -50%);
}
@media (max-width: 850px){

   
    .cafe{
        text-align: center;
        
        width: 100%;
        height: 20rem;
    
        

    }
    .image{
       width: 100%;
    }

}
h1{
    font-size: 45px;
    overflow: hidden;
    font-family: sans-serif;
    color: #fff;
      
}
h2{
    color: #fff;
    font-family: sans-serif;
}
button{
    height: 3rem;
    width: 90%;
    font-size: 20px;
    cursor: pointer;
}
.about-us{
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    overflow: hidden;

}


   
.inner-about{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.text{
    width: 48%;
    box-sizing: border-box;



}
.video{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media (max-width: 974px){

    .text{
     width: 100%;
    }
    .video{
     width: 100%;
     margin-top: 5rem;
    }
 }
.play{
    position: absolute;
    cursor: pointer;
    color: #fb5849;
    font-size: 50px;
    
}
h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fb5849;
    font-family: sans-serif;
    padding: 5px;
}
h4{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    padding-right: 120px;
    margin-top: 20px;
    margin-bottom: 25px;
    line-height: 40px;
}
p{
    color: #2a2a2a;
    line-height: 25px;
    font-size: 14px;
    font-family: sans-serif;
}
.aboutss{
    margin-top: 5rem;
    height: 11rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.innerss{
    width: 30%;
}
.our-menu{
    margin-top: 5rem;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: #f5e6e6;
    overflow: hidden;
}
.inner-menu{
    width: 75%;
    height: 100%;
}
.card{
    margin-top: 5rem;
 

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.innercard{
    height: 20rem;
    width: 15rem;

    
}
#card1{
    background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-02.jpg);
}
.price{
    background-color: #fb5849;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    font-family: sans-serif;
}
.info{
    height: 60%;
    position: relative;
    top: 12rem;
    width: 100%;
    background-color: #fb5849;
    transition: all 1s ease-out;
}
.info:hover{
    cursor: pointer;
    transform: translateY(-120px);
}
h5{
    margin: 0;
    padding: 30px 30px 20px 30px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.description{
    padding: 0px 30px;
    color: #fff;
}
#card2{
    background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-01.jpg);
}
#card3{
    background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-03.jpg);
}
#card4{
    background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-04.jpg);
}
.menuh3{
    margin-top: 5rem;
}
.dropbtn {
    background-color: white;
    bottom: unset;
    color:  black;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.arrow {
    font-size: 12px;
    margin-left: 5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    font-weight: 100;
    font-size: 14px;
    color: #2a2a2a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {

    color: red;
    margin-left: 5px;
}

.chef{
    display: flex;
    justify-content: center;

}
.inner-chef{
    width: 75%;
}
.chef1{
    text-align: center;
    padding: 0;
}
#chef2{
    margin-top: 6rem;
}
.chef-content{

    display: flex;
    justify-content: space-between;
    margin-top: 4.7rem;
}
@media (max-width: 968px){
    .chef-content{
        display: block;
    }
    .chefs{
        margin-bottom: 2rem;
    }
}
.chefs{

    border: 1px solid #afafaf;
    border-radius: 3px;
}
.chefs:hover{
    border: 1px solid  #fb5849;
}
.chef-image{
    margin: 6px;
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
}
.overlay{
    position: absolute;
    background-color: #2a2a2a;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    
}
.chef-image:hover .overlay{
    cursor: pointer;
    opacity: 0.9;
    visibility: visible;
}
.overlay-icons{
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.chef-image:hover .overlay-icons{
    visibility: visible;
    opacity: 1;
}

.social-icon{
    margin: 0px 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: white;
    color: #2a2a2a;
    border-radius: 50%;
    transition: all 1s;
}
.social-icon:hover{
    background-color: #fb5849;
}
i{
    color: black;
}
.chef-name1{
    color: #2a2a2a;
    padding: 0%;
}
.chef-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
span{
    margin-top: .5rem;
    font-family: sans-serif;
    line-height: 30px;
}
.chefs:hover .chef-name1{
    color: #fb5849;
}
.contact{
    
    background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/reservation-bg.jpg);
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-contact{
    margin-top: 5rem ;
    margin-bottom: 5rem;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-description{
    width: 50%;
    color: #f9f9f9;
    box-sizing: border-box;

}

.contact-form{
    width: 45%;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h3{
    color: #f9f9f9;
}
.h4{
    padding: 0;
}
.inner-description{
    height: 28%;
    margin-top: 8rem;
    display: flex;
    justify-content: space-evenly;
}
.phone{
    height: 100%;
    width: 40%;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;

}
.phone-logo{
    height: 70px;
    width: 70px;
    background-color: #fb5849;
    border-radius: 50%;
    font-size: 24px;
    bottom: 35px;
    color: #fff;
    position: relative;
    bottom: 35px;
}
#p1{
    position: relative;
    bottom: 10px;
}
.form{
    height: 100%;
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
@media (max-width: 974px){
    .inner-contact{
        display: block;
    }
    .contact-description{
        width: 100%;
    }
    .contact-form{
        margin-top: 2rem;
        width: 100%;
    }
    .form{
        width: 100%;
        height: 35rem;
    }
    .inner-description{
        display: block;
    }
    .phone{
        width: 100%;
        margin-top: 5em;
    }
}
.f4{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    overflow: hidden;
}
.f1{
    height: 2rem;
    width: 40%;
    margin: 0px 20px;
    box-sizing: border-box;
}
input{
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 5px;
    font-size: 14px;
}
.f2{
    height: 7rem;
    width: 100%;
    margin: 0px 20px;

}
.f3{
    height: 3rem;
    width: 100%;
    margin: 0px 20px;
  
}
.f31:hover{
    cursor: pointer;
    opacity: .9;
}
select{
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 16px;
}
.offers{
    height: 110vh;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-offer{
    height: 100%;
    width: 75%;
    border: 1px solid ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meal{
    margin-top: 3rem;
    display: flex;
    list-style: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    justify-content: center;
    
}
.inner-meal{
    
    margin: 0px 15px;
    height: 70%;
    width: 15%;


}
#Breakfast{
    color: #fb5849;
}
.offer-template{
    display: flex;
    flex-wrap: wrap;
}
.inner-template{
    display: flex;
    flex-wrap: wrap;
}
.template{
    position: relative;
    margin-bottom: 60px;
    display: flex;
    height: 5rem;
    width: 25rem;
    box-sizing: border-box;
}
.template img{
    float: left;
    width: 100px;
    max-width: 100px;
    margin-right: 20px;
    border-radius: 5px;
}
.template-name{
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.template-description{
    box-sizing: border-box;
}
.Tp{
    font-size: 14px;
    line-height: 0;
    padding-top: 2rem;
}