.b1{
    background-color: black;
    height: 4rem;
    justify-content: end;
}
.b2{
    background-color: skyblue;
    height: 20rem;
}
.b3{
    background-color: aqua;
    height: 15rem;
}
.b4{
    background-color: yellow;
    height: 5rem;
}
.b11{
    background-color: red;
    height: 4rem;
    width: 60%;
    
}
.main{
    display: flex;
}
.a1{
    background-color: darkblue;
    height: 15rem;
    width: 50%;
}
.a2{
    background-color: white;
    height: 15rem;
    width: 25%;
}
.a3{
    ;
    height: 15rem;
    width: 25%;
}
.a31{
    background-color: violet;
    height: 7.5rem;
}