.A1{
    background-color: yellow;
    height: 10rem;

}
.A2{
    background-color: white;
    height: 28rem;
}
.A3{
    background-color: blue;
    height: 5rem;
}
.content1{
    display: flex;

}
.b1{
    background-color: darkred;
    height: 8rem;
    width: 30%;
    margin: 20px;
}
.inner1{
    display: flex;
}
.c1{
    background-color: lightgreen;
    height: 6rem ;
    width: 40%;
    border-radius: 50%;
    margin: 10px;
}
.c2{
    background-color: lightcoral;
    height: 6rem ;
    width: 40%;
    margin: 10px;
}
#ab{
    flex-direction: row-reverse;
}
.b3{
    background-color: darkred;
    height: 8rem;
    width: 30%;
    margin: 20px;
}
.d1{
    background-color: darkgreen;
    height: 2rem;
    margin: 10px;

}
.content2{
    display: flex;
}
.e1{
    background-color: deeppink;
    height: 25rem;
    width: 30%;
    margin: 20px;
}
.f1{
    background-color: darkblue;
    height: 7rem;
    margin: 10px;

}
#da{
    border-radius: 50%;
    background-color: greenyellow;
}
.content3{
    display: flex;

}
.g1{
    background-color: lime;
    height: 3rem;
    width: 15%;
    margin: 10px;
}
#as{
    background-color: coral;
    border-radius: 50%;
    
}