.main{
    display: flex;
}
.b1{
    background-color: blue;
    height: 15rem;
    width: 20%;
    margin: 20px;
    position: absolute;
    left: 80px;
    top: 60px;
    
}

.b2{
    background-color: violet;
    height: 8rem;
    width: 20%;
    margin: 20px;
    
    position: relative;
    top: 200px;
    

    
}
.b3{
    background-color: brown;
    height: 8rem;
    width: 20%;
    margin: 20px;
    position: absolute;
    left: 150px;
}