.main{
    display: flex;
    
}
.a1{
    background-color: aqua;
    height: 96vh;
    width: 15%;
    margin: 5px;
}
.a2{
    background-color: aqua;
    height: 96vh;
    width: 70%;
    margin: 5px;

}
.a3{
    background-color: aqua;
    height: 96vh;
    width: 15%;
    margin: 5px;

}
.b1{
    background-color: brown;
    height: 26rem;
}
.b2{
    background-color: gray;
    height: 9rem;

}
.b3{
    background-color: yellow;
    height: 9rem;


}
.c1{
    background-color: blueviolet;
    width: 50%;
    height: 26rem;
}
.container{
    display: flex;
    justify-content: end;
}
.d1{
    background-color: olive;
    height: 6rem;
}


