.main{
    display: flex;

}
.box1{
    background-color: aqua;
    height: 100vh;
    width: 70%;
}
.box2{
    background-color: yellow;
    height: 100vh;
    width: 30%
}
.box3{
    background-color: goldenrod;
    height: 200px;
    margin: 20px;
}
.first{
    display: flex;
}
.box4{
    background-color: blueviolet;
    height: 28rem;
    margin: 20px;
    width: 50%;
}
.box5{
    background-color: blue;
    height: 28rem;
    margin: 20px;
    width: 50%;
}
.content3{
    display: flex;
    justify-content: space-between;

}
.box6{
    background-color: white;
    height: 10rem;
    width: 20%;
    border-radius: 50%;
    margin: 10px;
}
.box7{
    background-color: pink;
    height: 10rem;
    width: 20%;
    border-radius: 50%;
    margin: 10px;
}
.box8{
    background-color: gray;
    height: 10rem;
    width: 20%;
    border-radius: 50%;
    margin: 10px;
}
.box9{
    background-color: brown;
    height: 10rem;
    width: 20%;
    border-radius: 50%;
    
    margin: 10px;
}
.box10{
    background-color: yellowgreen;
    height: 13rem;
    border-radius: 50%;
    width: 60%;
    margin: 0 auto;
}
.box11{
    background-color: aquamarine;
    height: 10rem;
    margin: 20px;
}
.box12{
    background-color: skyblue;
    height: 13rem;
    border-radius: 50%;
    width: 60%;
    margin: 0 auto;
}
.box13{
    background-color: rebeccapurple;
    height: 10rem;
    margin: 20px;
}
.box14{
    background-color: darkblue;
    height: 15rem;
    border-radius: 50%;
    width: 50%;
    margin: 0 auto;

}
.box15{
    background-color: darkred;
    height: 28rem;
    margin: 20px;
}
.box16{
    background-color: lightsalmon;
    height: 13rem;
    border-radius: 50%;
    width: 60%;
    margin: 20px;
    margin: 0 auto;
}
.box17{
    background-color: lightyellow;
    height: 10rem;
    margin: 20px;
}

