.main{
    display: flex;

}
.box1{
    background-color: aqua;
    height: 100vh;
    width: 25%;
    border: 10px solid white;

}
.box2{
    background-color: yellow;
    height: 100vh;
    width: 50%;
    border: 10px solid white;

    

}
.box3{
    background-color: blueviolet;
    height: 100vh;
    width: 25%;
    border: 10px solid white;
    
}
.main-content{
    display: flex;
    margin: 10px;
}
.box4{
    background-color: brown;
    height: 40vh;
    width: 50%;
    margin: 10px;


}
.box5{
    background-color: green;
    height: 40vh;
    width: 50%;
    margin: 10px;


}
.box6{
    background-color:black;
    height: 100px;
    color: white;
    margin: 10px;

}
.inner-content{
    display: flex;
    margin: 10px;
}
.box7{
    background-color: purple;
    height: 15rem;
    width: 50%;
    margin: 10px;

}
.box8{
    background-color: red;
    height: 15rem;
    width: 50%;
    margin: 10px;

}